/* line 1, js/styles/phylotastic.scss */
body {
  background-color: #f5f5f5;
}

/* line 5, js/styles/phylotastic.scss */
h1 {
  color: red;
}

/* line 9, js/styles/phylotastic.scss */
.examples {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 14, js/styles/phylotastic.scss */
.example-image-wrap {
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 5px;
}

/* line 22, js/styles/phylotastic.scss */
.example-image {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 90%;
  max-width: 90%;
}

/* line 34, js/styles/phylotastic.scss */
.panel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

/* line 42, js/styles/phylotastic.scss */
.map-wrap {
  height: 350px;
}

/* line 46, js/styles/phylotastic.scss */
.sources-wrap {
  height: 350px;
}

/* line 50, js/styles/phylotastic.scss */
.species-wrap {
  height: 350px;
}

/* line 54, js/styles/phylotastic.scss */
.source-btn {
  border-radius: 20px;
  width: 75%;
  height: 50px;
  display: block;
  margin: 20px;
}

/* line 62, js/styles/phylotastic.scss */
.species-btn {
  display: block !important;
  padding: 2px !important;
  border-radius: 20px !important;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 74, js/styles/phylotastic.scss */
.species-btn img {
  margin: 0px;
  max-height: 90%;
  max-width: 90%;
}

/* line 80, js/styles/phylotastic.scss */
.go-btn img {
  margin: 0px;
  max-height: 90%;
  max-width: 90%;
}

/* line 86, js/styles/phylotastic.scss */
.go-btn {
  display: block !important;
  width: 80px;
  height: 80px;
  margin: auto !important;
  padding: 0px !important;
}

/* line 94, js/styles/phylotastic.scss */
#map {
  width: 100%;
  height: 90%;
}
