body {
  background-color: #f5f5f5;
}

h1 {
  color: red;
}

.examples {
  margin-top: 10px;
  margin-bottom: 10px;  
}

.example-image-wrap, .example-common-name {
  position:relative;                    
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 5px;
}

.example-common-name {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

.example-image {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 90%;
  max-width: 90%;  
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  background-color: white;
}

.map-wrap {
  height: 350px;
}

.sources-wrap {
  height: 350px;
}

.species-wrap {
  height: 350px;
}

.species-btn.disabled {
  cursor: default;
  opacity: 0.1;
}

.step-info {
  text-align: center;
  color: #AAAAAA;
}

.source-btn {
  border-radius: 20px;
  width: 75%;
  height: 50px;
  display: block;
  margin: 20px;
}

.species-btn {
  display: block !important;
  padding: 2px !important;
  border-radius: 20px !important;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.species-btn img {
  margin: 0px;
  max-height: 90%;
  max-width: 90%;  
}

.go-btn img {
  margin: 0px;
  max-height: 90%;
  max-width: 90%;  
}

.go-btn {
  display: block !important;
  width: 80px;
  height: 80px;
  margin: auto !important;
  padding: 0px !important;
}

#map {
  width: 100%;
  height: 90%;
}

.go-button-wrap {

}

.go-button {

}